.logo {
    width: 175px;
    height: auto;
}

.header-container {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddecfa;
    border-bottom: 5px groove red;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: 1000;
}

.header-right {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 20px;
}

.header-item {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-item:hover {
    cursor: pointer;
    background-color: #7c8389;
    color: white;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 10px;
}