<div class="stock-container" *ngIf="quote; else loadingOrError">
    <h2>{{ companyName }} ({{ ticker }})</h2>
    <table class="quote-table">
        <tr>
          <td>
            Open <app-info [text]="definitions.open"></app-info>
          </td>
          <td>$ {{ quote['02. open'] | number:'1.2-2' }}</td>
        </tr>
      
        <tr>
          <td>
            High <app-info [text]="definitions.high"></app-info>
          </td>
          <td>$ {{ quote['03. high'] | number:'1.2-2' }}</td>
        </tr>
      
        <tr>
          <td>
            Low <app-info [text]="definitions.low"></app-info>
          </td>
          <td>$ {{ quote['04. low'] | number:'1.2-2' }}</td>
        </tr>
      
        <tr>
          <td>
            Price <app-info [text]="definitions.price"></app-info>
          </td>
          <td>$ {{ quote['05. price'] | number:'1.2-2' }}</td>
        </tr>
      
        <tr>
          <td>
            Previous Close <app-info [text]="definitions.previousClose"></app-info>
          </td>
          <td>$ {{ quote['08. previous close'] | number:'1.2-2' }}</td>
        </tr>
      
        <tr>
          <td>
            Change <app-info [text]="definitions.change"></app-info>
          </td>
          <td [ngClass]="{'positive': quote['09. change'] >= 0, 'negative': quote['09. change'] < 0}">
            $ {{ quote['09. change'] | number:'1.2-2' }}
          </td>
        </tr>
      
        <tr>
          <td>
            Change % <app-info [text]="definitions.changePercent"></app-info>
          </td>
          <td [ngClass]="{'positive': isPositive(quote['10. change percent']), 'negative': !isPositive(quote['10. change percent'])}">
            {{ quote['10. change percent'] }}
          </td>
        </tr>
      
        <tr>
          <td>
            Volume <app-info [text]="definitions.volume"></app-info>
          </td>
          <td>{{ quote['06. volume'] | number }}</td>
        </tr>
      
        <tr>
          <td>
            Latest Trading Day <app-info [text]="definitions.latestTradingDay"></app-info>
          </td>
          <td>{{ quote['07. latest trading day'] }}</td>
        </tr>
      </table>      
  </div>

  <div class="tf-bar">
    <label for="timeframe">Timeframe</label>
    <select
      id="timeframe"
      [(ngModel)]="selectedTimeframe"
      (change)="fetchPriceSeries()"
      class="tf-select"
    >
      <option *ngFor="let tf of timeframes" [value]="tf">{{ tf }}</option>
    </select>

    <span class="tf-meta" *ngIf="series && series.length && !seriesLoading">
      {{ series.length }} prices loaded
    </span>
    <span class="tf-meta loading" *ngIf="seriesLoading">Loading series…</span>
    <span class="tf-meta error" *ngIf="seriesError">{{ seriesError }}</span>
  </div>

  <div class="plot-controls" *ngIf="predictionGroups?.length || series?.length">
    <label class="control">
      <input type="checkbox" [(ngModel)]="selectedActual" (change)="updateChart()" />
      Show actual price
    </label>
  
    <div class="group-controls">
      <div class="group" *ngFor="let g of predictionGroups">
        <label>
          <input
            type="checkbox"
            [(ngModel)]="selectedKeys[keyOf(g)]"
            (change)="updateChart()"
          />
          {{ g.modelType.toUpperCase() }} • {{ g.timeframe }} ({{ g.items.length }})
        </label>
      </div>
    </div>
  </div>
  
  <div class="chart-wrap">
    <canvas #comboChart></canvas>
  </div>
  

  <button class="predictions-button" (click)="navigateToPredictions()">
    View Predictions
  </button>

  
  <ng-template #loadingOrError>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div *ngIf="!errorMessage">Loading stock data...</div>
  </ng-template>

  
  